<!--
@Author: Arnaud
@Date:   2018-05-11T13:40:11+02:00
@Project: Epitech project
@Filename: _comment.html.erb
@Last modified by:   Arnaud
@Last modified time: 2018-05-11T13:40:14+02:00
-->

<p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>
<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>

<p>
	<%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: {
		confirm: 'Are you sure?'
	}
	%>
</p>
