<!--
@Author: Arnaud
@Date:   2018-05-08T11:17:58+02:00
@Project: Epitech project
@Filename: edit.html.erb
@Last modified by:   Arnaud
@Last modified time: 2018-05-08T11:18:01+02:00
-->

<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Edit article</h1>

		<h1>Add ratings</h1>
		<%= render 'ratings/create'%>
		<%= render 'form' %>
		<%= link_to 'Back', articles_path %>
	</body>
</html>
