<!--
@Author: Arnaud
@Date:   2018-05-08T10:44:14+02:00
@Project: Epitech project
@Filename: new.html.erb
@Last modified by:   Arnaud
@Last modified time: 2018-05-08T10:44:18+02:00
-->

<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>New Article</h1>

		<%= render 'form' %>

		<%= link_to 'Back', articles_path %>
	</body>
<html>
